<html>

<head>

</head>

<body>
    <h1>Shopping list</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td> {{ item }} </td>
                <td> {{ items[item].name }} </td>
                <td> {{ items[item].count }} </td>
            </tr>
            {% endfor %}
        </tbody>

</body>

</html>
