<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <h1>Shopping list</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% if items[item].count <=0 %}
                <tr class="danger">
                    {% else %}
                    <tr>
                        {% endif %}
                        <td> {{ item }} </td>
                        <td> {{ items[item].name }} </td>
                        <td> {{ items[item].count }} </td>
                    </tr>
                    {% endfor %}
            </tbody>
    </div>
</body>

</html>
